.fading {
    animation: fading 8s infinite
}

@keyframes fading {
    0% {opacity: 0}
    20% {opacity: 1}
    80% {opacity: 1}
    100% {opacity: 0}
}

.slideshow {
    display: flex;
    justify-content: center;
    margin:auto
}

.slide {
    width: 100%;
    border-radius: 24px;
    
}

.diaporamaTitre{
    font-size: 1.5em;
    text-align: center;
    font-family: "Rakkas";
    color:rgb(177,68,68);
    background-color: rgb(253,183,106);
    border:2px solid rgb(177,68,68);
    border-radius: 30px;
    padding: 5px;
    margin-bottom: 10px;
}

